<?xml version="1.0"?>
<robot name="lio" xmlns:xacro="http://tixiaoshan.github.io/">
  <xacro:property name="PI" value="3.1415926535897931" />

  <link name="base_footprint"/>

  <link name="base_link"></link>
  <joint name="base_link_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="wheel_odom_link"/>
  <joint name="wheel_odom_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="wheel_odom_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="lidar_link"> </link>
  <joint name="lidar_joint" type="fixed">
    <parent link="wheel_odom_link" />
    <child link="lidar_link" />
    <origin xyz="0.525 -0.474 1.462" rpy="0 0 0" />
  </joint>

  <link name="imu_link"> </link>
  <joint name="imu_joint" type="fixed">
    <parent link="lidar_link" />
    <child link="imu_link" />
    <origin xyz="0.0025 0 0.0929" rpy="3.141592 0 1.570769" />
  </joint>


</robot>
